################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MosqueTourReportTool.slnx/FileContentIndex
/.vs/MosqueTourReportTool.slnx/v18
packages/
.vs/

*.suo
*.csproj.user
*.pubxml.user